@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(images/aboutbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  position: relative;
}

.textimg {
  text-align: center;

}

.textimg2 {
  text-align: center;
  margin-top: -5%;
}

.abouttxt {
  margin: auto auto 5% auto;
  width: 40%;
  text-align: justify;

}

.abouttxt h1 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(229, 255, 0);
}

.abouttxt p {
  line-height: 30px;
  margin-left: 3%;
  font-size: 23px;
  color: rgb(0, 225, 255);
}

/*NAVIGATION*/
.header {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navlist {
  list-style: none;
  display: inline-block;
  font-weight: 800;
  margin-right: 25px;
  margin-top: 2%;
}

.navbar {
  border-bottom: 1px solid #000;
}

.header .container-fluid {

  display: flex;
  justify-content: center;
  text-decoration: none;
}

.news-agency {
  color: inherit;
  text-decoration: none;

}

.news-agency img {
  width: 32%;
}

.navbar-nav {

  padding: 5px;
}

.navbar {
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-bottom: 0.5%;
  background-color: rgba(255, 255, 255, 0.699);
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  margin-left: -10%;
}

.header {
  text-align: center;
  padding: 5px 0 0 0;

}

ul {
  margin-right: 5%;

}

.hvclred:hover {
  border-radius: 10px;
  background-color: #f41823;
  color: white;
}

.hvclyellow:hover {
  border-radius: 10px;
  background-color: #ecd500;
  color: white;
}

.hvclblue:hover {
  border-radius: 10px;
  background-color: rgb(0, 174, 255);
  color: white;
}

.hvclgreen:hover {
  border-radius: 10px;
  background-color: rgb(90, 199, 0);
  color: white;
}

.sticky-nav .hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 8%;
  padding: 0;
}

.navlist a {
  font-size: 25px;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-menu {
  transition: all 0.3s ease;
}

.txtshadow {
  text-shadow: black 1px 1px 15px;
}

.txtcolorred {
  color: #ff3131;
}

.txtcoloryellow {
  color: #ecd500;
}

.txtcolorgreen {
  color: rgb(90, 199, 0);
}

.txtcolorblue {
  color: rgb(0, 59, 253);
}



.scrollspy {
  position: fixed;
  margin-left: 5%;
  margin-top: 5%;

}

.nav-link.active {
  background-color: rgb(253, 228, 0) !important;
  color: rgb(255, 0, 0) !important;
}

.nav-link {
  color: rgb(90, 199, 0) !important;
  font-size: 21px !important;
}


.footer-copyright {
  font-size: 16px;
  opacity: 0.8;
  padding: 10px 0;
}

footer {
  background: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #000;
}

footer p {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0;
}






/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    /* Adjust based on your header height */
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .sticky-nav .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-menu.active {
    display: flex;
  }
}